.abt{
    color: #f0f8ff;
     text-align: center;
     padding-top: 1rem ;
}

.abt-1{
    color: #f0f8ff;
     text-align: left;
     padding-top: 1rem ;
}

.Head{
    color: whitesmoke;
    text-align: center;
    padding-top: 12rem;
}

.card-a{
    width: 25%;
    margin-left: 37%;
}

body{
    /* background-image: url("../images/bg-2.jpg"); */
    height: 100%;
    width: 99.9%;
}

.breakdown{
    border-bottom: 2px solid white;
}

/* .mee{
    margin: 1rem;
    width: 10px;
    height: 10px;
} */

.contact{
    margin-left: 10%;
}