.part-a{
    /* border: 2px solid white; */
    margin-top: 10%;
    color: #ECF3F9;
    
}

.info{
    margin-top: 3rem;
}

.heading{
    text-align: center;
    color: #ECF3F9;
    margin-top: 3rem;

    margin-top: 3rem;
    /* margin-left: auto; */ 
    /* width: 250px; */
    box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2);
    /* height: 300px; */
    border-radius: 5px;
    backdrop-filter: blur(14px);
    background-color: rgba(255, 255, 255, 0.2);
    padding: 10px;
    text-align: center;
}