.items{
    padding-left: 70%;
    color:black;
    /* margin-right: 10px; */
}

.items-2{
    color: black;
    font-weight: bold;
}

.mName{
    padding-left: 10%;
    font-size: x-large;
    font-weight: bolder;

}

.nvbr{
    /* border: 2px solid red; */
    margin-left: 20%;
}

.nav-link{
    padding: 1rem;
}

@media only screen and (max-width: 600px) {

    .M-itm{
        text-align: right;
    }
}

